#ignore all files
*.*
vendor/
target/
t2-output/
source/main/builddir/

#except the following files
!*.go
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.sln
!*.vcproj
!*.vcxproj

!*.pl

!*.cs
!*.csproj
!*.resx

!*.hlsl
!*.fragment

!*.mold
!*.sc
!*.diagram

!*.ini
!*.bat

!*.build

