#ignore all files
*.*
vendor/

#except the following files
!*.go
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.sln
!*.vcproj
!*.vcxproj

!*.pl

!*.cs
!*.csproj
!*.resx

!*.hlsl
!*.fragment

!*.mold
!*.sc
!*.diagram

!*.ini
!*.bat

#except the following folders
